/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    margin-right: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(215, 170, 91, 0.8), rgba(245, 250, 245, 0.8));
}

#servicios {
    background-color: rgba(215, 170, 91, 0.8);
}

.boton-principal {
    background: black;
    color: rgba(215, 170, 91, 0.8);
    border: 1px solid black;
    border-radius: 5em;
    font-weight: bold;
    font-size: 1em;
    padding: .5em 1.1em;
    display: inline-block;
    background-image: url("/img/color_madera_oscuro.jpg");
}

.boton-invertido {
    background: rgba(215, 170, 91, 0.8);
    color: black;
    border: 1px solid rgba(215, 170, 91, 0.8);
    border-radius: 5em;
    font-weight: bold;
    font-size: 1em;
    padding: .5em 1.1em;
    display: inline-block;
    background-image: url("/img/color_madera_claro.jpg");
}

.boton-invertido:hover {
    background: black;
    color: white;
}

header ul,
#servicios ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    place-content: space-between;
}

header div.encabezado {
    display: flex;
    place-content: space-between;
}

header,
main,
aside {
    padding: 1em;
}

.home{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    padding: 0px;
    justify-content: center;
    align-content: center;

}

.grid-item{
    display: grid;
    grid-template-columns: 30% 15% 35%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    
}

#tituloProducto{
    margin-left: 20px;
}

homeNosotros img {
    width: 50%;
}

/* Estilos del encabezado */
.encabezado {
    /* place-content: flex-start; */
    background-image: url("/img/fondo-madera.jpg");
    display: flex;
    align-items: center;
    /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-size: cover;
    justify-content: space-between;

    /* background-position: center; */
    /* Centra la imagen dentro del contenedor */
    /* Otros estilos para el encabezado */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin-top: 5%;
    margin-right: 15%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 10px 5px;
    /* border: 1px solid; */
}

/* nav {
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: large;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

nav li {
    display: inline-block;

}

nav a {
     color: #faf9f5d7;
    text-decoration: none;
} */

/* Estilos del banner */
#banner {
    background-image: url(img/banner.jpg);
    background-size: cover;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.producto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.producto img {
    max-width: 100%;
}

.btn {
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}

/*formulario*/
/* .centerButton {
    display: flex;
    justify-content:center;
    align-items: center;
  } */

  textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.tituloFormulario {
    text-align: center;
}

.texto {
    margin: 0 auto;
    width: 100%;
}

.imagenes {
    width: 100%;
    margin: 20px auto;
}


.left {
    grid-area: left;
    margin: 10px;
}

.contenido {
    grid-area: contenido;
    margin: 10px;
}

footer {
    background-image: url("/img/fondo-madera.jpg");
    color: #faf9f5d7;
    text-align: center;
}


.item {
    padding: 10px;
    color: rgb(16, 16, 16);
    border-radius: 10px;
}

.container {
    display: grid;

    grid-template: 10px 1fr / 1fr 1fr 5px;
    grid-template-areas: "header "
        "left contenido"
        "footer ";
    grid-gap: 20px;
    height: 100vh;

    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(215, 170, 91, 0.8), rgba(245, 250, 245, 0.8));

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-fluid {
    margin:0;
    padding: 0;
    background-image: linear-gradient(rgba(215, 170, 91, 0.8), rgba(245, 250, 245, 0.8));
    display:grid;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.destacados {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@media(max-width: 600px) {
    .destacados {
        padding: 10px;
    }
}



/* animaciones*/
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

.titulo {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(.215, .61, .355, 1.000) both;
    font-size: xx-large;
    font-weight: bold;
    color: #faf9f5d7;
    
}

@-webkit-keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

.logo {
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    background: rgb(241, 239, 237);
    border-radius: 50%;
    /* animation-name: cambiarColor;
    animation-duration: 3s;
    animation-delay: 1s; */
    /* animation-iteration-count: 2;
    animation-direction: reverse; */
    -webkit-animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes cambiarColor {
    0% {
        background-color: rgb(2, 2, 2);
        transform: scale(2);
        transform: translate(500px);
    }

    100% {
        background: rgb(102, 83, 48);
        /* transform: scale(2); */
    }
}

a:link {
    color: rgb(185, 156, 107);
}

/* a:hover {
    background-color: rgb(26, 18, 6);
    color:  rgb(185, 156, 107);
} */

a:visited {
    /* color:
        /* rgb(135, 71, 73) */
     
}

a:active {
    background-color: rgb(185, 156, 107);
    color: white;
}

.contenido {
    padding-top: 30px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item {
    padding-top: 30px;
}

.video-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* Proporción 16:9 */
    justify-content: center;
}

.video-container iframe {
    position: absolute;
    justify-content: center;
    top: 10%;
    left: 1%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

.map-container {
    display: flex;
    justify-content: center;
    height: 400px;
    /* ajusta la altura según lo que necesites */
    width: 100%;
    /* ajusta el ancho según lo que necesites */
}

.map-container iframe {
    top: 0;
    width: 50%;
    height: 80%;
}




/************************/
/*

.menu a:hover {
    background-color: rgba(249, 249, 249, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: rgb(232, 228, 221);
    transition: background-color 0.2s ease-out;
} */

/************************/
/* Configuración leyenda "TusMuebles" de un color y ".com" de otro */
header>h1>a>span {
    color: black;
}

header>h1>a {
    word-spacing: -0.2em;
}

header div.encabezado {
    width: 70%;
    display: flex;
    place-content: space-between;
}

.home>h2>a>span {
    color: white;
}

/************************/

div.encabezado {
    width: 1080px;
    margin: 0 auto;
}

header a {
    padding: 1em;
}

main div.encabezado {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: black;
    text-decoration: none;
}

a.actual {
    font-weight: bold;
}

#menu,
#menu-check {
    display: none;
}

/* BREACK POINTS */

@media only screen and (max-width: 900px) {

    header div.encabezado,
    header div.encabezado ul,
    header div.encabezado ul li {
        display: inline;
    }

    header div.encabezado nav {
        width: 100%;
        display: inline;
    }
}

#menu-abrir,
#menu-cerrar {
    font-size: 24px;
    /* Tamaño de la letra en píxeles */
}

/* Medium devices (700px and up) */
@media only screen and (min-width: 700px) {
    .encabezado {
       display: flex;
       flex-wrap: wrap;
    }

    /* #menu-check:not(:checked)~nav {
        display: flex;
    }

    #menu-check: :checked~nav {
        display: flex;
    } */

    #menu {
        display: block;
        color: black;
        background-color: rgb(185, 156, 107);
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
    }

    #menu:hover {
        color: rgb(185, 156, 107);
        background-color: black;
    }

    #menu-cerrar {
        display: nonflexe;
    }

    #menu-check:checked~label #menu-abrir {
        display: flex;
    }

    #menu-check:checked~label #menu-cerrar {
        display: flex;
    }
/*
    header div.encabezado nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: rgb(185, 156, 107);
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: rgb(185, 156, 107);
        font-size: 1.4em;
    }

    header div.encabezado nav ul a {
        color: rgb(185, 156, 107);
        ;
        background: none;
    }

    header div.encabezado nav ul,
    header div.encabezado nav ul li {
        display: block;
        text-align: right;
    }

    header div.encabezado nav .boton-principal {
        border: 1;
        border-radius: 1;
    }

    header div.encabezado nav .boton-invertido {
        border: 1;
        border-radius: 1;
    } */
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        /* background: blue; */
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        /* background: orange; */
    }
}

/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1280px) {
    .example {
        /*  background: pink; */
    }
}

/*************************/
.form-control {
    justify-content: center;
    align-items: center;
    width: 600px;
    /* Ajusta el ancho del input según tu preferencia */
    height: 30px;
    /* Ajusta la altura del input según tu preferencia */
    font-size: 14px;
    /* Ajusta el tamaño de fuente según tu preferencia */
    /* Agrega otros estilos personalizados según sea necesario */
    margin-left: 1%;
}

.form-label {
    margin-left: 1%;
}

.form-control-md {
    width: 600px;
    /* Ajusta el ancho del input según tu preferencia */
    height: 90px;
    /* Ajusta la altura del input según tu preferencia */
    font-size: 14px;
    /* Ajusta el tamaño de fuente según tu preferencia */
    /* Agrega otros estilos personalizados según sea necesario */

}




.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}



#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: static;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: left;
    font-family: 'Cabin', Sans-serif;
    background-image: linear-gradient(black 0%,black 20%, transparent 20%,transparent 30%, black 30%, black 50%,transparent 50%, transparent 60%, black 60%, black 80%, transparent 80%);
}

#listamenu {
    display: flex;
    flex-direction: column;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: -50px;
    width: 200px;
    height: 100%;
    background-color: rgba(215, 170, 91, 0.8);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: black;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


#hamburger-menu {
    display: none;
  }  

@media screen and (max-width: 1050px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;

  }

  .grid-item{
    display:flex;
    flex-direction: column;
    
  }

  #tituloProducto{
    margin-left: 0px;
}

.img-responsive {
    max-width: 90%;
    height: auto;
    align-self: center;
    
}

} 


@media screen and (max-width: 635px) {
    .logo{
        height: 20%;
        width: 20%;
        margin-top: 5px;
    }
    .titulo{
        font-size:medium;
    }
    .form-control{
        width: 100%;
        
    }

    #contacto{
        margin-top: 70px;
    }
    
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
  
    }

    
  } 